body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primaryWhite);
  font-family: 'Poppins', sans-serif;
}

code {
	font-family: 'Poppins', sans-serif;
}

:root {
	--softPurple: #a1a1f8;
	--lemon: #b7fdad;
	--creme: #C39790;
	--primaryWhite: #F9F7FF;
	--snowWhite: #FFFFFF;
	--primaryBlack: #141414;
	--claret: #952453;	
  --fontParagraph:'Poppins', sans-serif;
}

