body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primaryWhite);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
	--softPurple: #9685F1;
	--lemon: #e5f7d9;
	--creme: #C39790;
	--primaryWhite: #F9F7FF;
	--primaryBlack: #141414;
	--claret: #952453;	
	--fontHeader:;
    --fontParagraph:;
    --fontSize: 16px;
}
